<form class="log-in">
    <h3 class="log-in__header">
        Login
    </h3>
    <input type="email" placeholder="Type email address" class="log-in__input">

    <input type="password" placeholder="Type your password" class="log-in__input">

    <button class="log-in__btn" type="submit">Login</button>
</form>