<form class="log-in">
    <h3 class="log-in__header">
        Login
    </h3>
    {{input type="email" placeholder="E-mail address" class="log-in__input" value=email }}

    {{input type="password" placeholder="Password" class="log-in__input" value=password }}

    <button {{action 'logUser'}} class="log-in__btn" type="submit">Login</button>
</form>
