<form class="sign-up">
    <h3 class="sign-up__header">
        Create your account
    </h3>
    <input type="email" placeholder="Type email address" class="sign-up__input">

    <input type="password" placeholder="Type your password" class="sign-up__input">

    <input type="password" placeholder="Retype your password" class="sign-up__input">

    <button class="sign-up__btn" type="submit">Sign Up</button>
</form>