.editable-task {
    grid-column: col-start 1 / col-end 6;
    justify-self: center;
    align-self: center;

    @include card-look(40rem, 40rem);


    &__card-type {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: $color-primary;
        text-transform: uppercase;
    }

    &__header-input {        
        @include input($color-white, $color-grey-dark-2);        
    }

    &__due-date {
        @include input($color-white, $color-grey-dark-2);
        text-transform: uppercase;

        &::placeholder {
            font-size: $default-font-size;
        }

    }

    &__textarea {
        textarea {
            width: 94.5%;
            height: 10rem;
            padding: 1rem;
            margin: 1rem;
            border: none;
            resize: none;

            @include input($color-white, $color-grey-dark-2);

            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    &__actions {
        display: flex;
        flex: 0 0 20%;
        justify-content: space-around;
        padding: 1rem;
        justify-content: center;

    }

    &__btn {       

        &--save {
            @include btn($color-primary-dark, $color-primary-light);
        }

    }
}