.editable-task {
    grid-column: col-start 1 / col-end 6;
    justify-self: center;
    align-self: center;

    @include card-look(40rem, 40rem);


    &__card-type {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        color: $color-primary;
        text-transform: uppercase;
    }

    &__header-input {
        border: none;
        padding: 1rem;
        margin: 1rem;
        color: $color-grey-dark-2;
    }

    &__due-date {
        height: 4rem;
        padding: 1rem;
        margin: 1rem;
        border: none;
        border-bottom: 1px solid $color-grey-light-2;
        font-size: 1.4rem;
        color: $color-grey-dark-2;
    }

    &__textarea {
        textarea {
            width: 94.5%;
            height: 100%;
            padding: 1rem;
            margin: 1rem;
            border: none;
            resize: none;
            font-size: 1.4rem;
            color: $color-grey-dark-2;
        }
    }

    &__actions {
        display: flex;
        flex: 0 0 20%;
        justify-content: space-around;
        padding: 1rem;
        justify-content: center;

    }

    &__btn {
        @include btn;

        &--save {
            background-color: $color-primary-dark;
            color: $color-white;

            &:hover {
                background-color: $color-primary-light;
                color: $color-white;
            }
        }

    }
}