.log-in {

    padding: 3rem;
    background-color: rgba($color-grey-light-1, .5);
    border-radius: 2rem;
    display: grid;
    grid-row-gap: 2.5rem;
    min-width: 400px;

    &__header {
        font-size: 3rem;
        color: $color-white;
        text-transform: uppercase;
    }


    &__input {
        @include input($color-white, $color-grey-dark-2);
    }
    
    &__btn {
        @include btn($color-primary, $color-primary-light);
        height: 5rem;
        font-size: 1.8rem;

        margin-top: 3rem;        
    }
}