.tasks {
    grid-column: col-start 1 / col-end 6;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    grid-template-rows: min-content;
    grid-column-gap: 2rem;
}

.task {
    @include card-look(30rem, fit-content);

    &__header {
        margin: 1rem;
        border: none;
        border-bottom: 1px solid $color-grey-dark-3;
        font-size: $default-font-size;
        color: $color-grey-dark-3;
        text-transform: uppercase;
    }

    &__due-date {
        margin: 1rem;
        font-size: 1.4rem;
        font-family: sans-serif;
        color: $color-grey-dark-2;
    }

    &__textarea {
        width: 95%;
        height: 80%;
        padding: 1rem;
        font-size: 1.4rem;
        color: $color-grey-dark-3;
    }

    &__actions {
        display: flex;
        flex: 0 0 30%;
        justify-content: space-around;
        padding: 1rem;

    }

    &__btn {

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &--delete {
            @include btn($color-red, $color-red-light);
        }

        &--edit {
            @include btn($color-tertiary-dark, $color-tertiary-light);
        }
    }
}