<nav class="navigation">
    <div class="navigation__name">
        EmTask
    </div>
    <ul class="navigation__list">
        <li class="navigation__list-item">{{#link-to 'tasks' class='navigation__link'}} Home {{/link-to}}</li>
        <li class="navigation__list-item">{{#link-to 'tasks.new' class='navigation__link'}} New Task{{/link-to}}</li>
    </ul>
</nav>

<div class="app-container">
    <div class="header">
        <h1 class="header__text heading-1">Welcome to EmTask</h1>

        {{#link-to 'tasks' tagName="button" class="header__btn"}}Show your tasks{{/link-to}}
    </div>
    
    {{ outlet }}
</div>

<div class="footer">
    <p class="footer__copyright">
        &copy; created by Dominik Pecha
    </p>
</div>