<nav class="navigation">
    <div class="navigation__left">
        {{#link-to 'header' class="navigation__list-item navigation__name" }}EmTask{{/link-to}}
        <ul class="navigation__list">
            <li class="navigation__list-item">{{#link-to 'tasks' class='navigation__link'}} Tasks {{/link-to}}</li>
            <li class="navigation__list-item">{{#link-to 'tasks.new' class='navigation__link'}} New Task{{/link-to}}</li>
        </ul>
    </div>
    <div class="navigation__right">
        <ul class="navigation__list">
            <li class="navigation__list-item">{{#link-to 'login' class='navigation__link'}} Login {{/link-to}}</li>
            <li class="navigation__list-item">{{#link-to 'header' class='navigation__link'}} Log Out {{/link-to}}</li>
            <li class="navigation__list-item">{{#link-to 'login' class='navigation__link'}} Sign Up {{/link-to}}</li>
        </ul>
    </div>
</nav>

<div class="app-container">
    {{ outlet }}
</div>

<div class="footer">
    <p class="footer__copyright">
        &copy; created by Dominik Pecha
    </p>
</div>